{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.132"}
        com.google.javascript/closure-library {:mvn/version "v20231112"}
        nrepl/nrepl {:mvn/version "1.2.0"}
        cider/piggieback {:mvn/version "0.5.3"}}
 :aliases {:nrepl {:main-opts ["-m" "dev.nrepl"]}}}
