{:paths ["src"]
 :deps {org.clojure/clojurescript {:mvn/version "1.12.134"}
        nrepl/nrepl {:mvn/version "1.2.0"}
        cider/piggieback {:mvn/version "0.5.3"}}
 :aliases {:nrepl {:main-opts ["-m" "dev.nrepl"]}}}
